/* ------------ STYLE ------------ */

/* vars */
:root{
    --font1: "Gaegu", cursive;
    --cream: #042452cd;
    --light-cream: #f9f4e9;
    --navy: #052f58;
    --cherry-red: #b71f1f;
    --dark-red: #8b0d0d;
    --darkest-red: #560606;
    --white: #FFF;
    --light-white: #F5F5F5;
    --muted-text: #757373da;
}

body{
    font-family: var(--font1);
    color: var(--navy);
    background-color: var(--navy);
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    cursor: url("assets/cursor.ico"), auto;
}

.app-layout{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

@media (min-width: 768px){
    .app-layout{
        flex-direction: row;
    }
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb{
    background: var(--muted-text);
    border-radius: 12px;
}

.left-panel{
    flex: 0.9;
    display: flex;
    flex-direction: column;

    background-color: rgba(245, 241, 238, 0.9);
    color: var(--navy);

    gap: 20px;
    padding: 30px;
    border-radius: 20px;
}

.app-title{
    font-size: 50px;
    font-weight: 800;

    margin: 0;
    line-height: 1;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.app-subtitle{
    font-size: 22px;
    color: var(--navy);
    margin-top: 5px;
}

.search-bar{
    padding: 10px;
    border: none;
    border-radius: 10px;

    font-family: var(--font1);
    font-size: 20px;
    background-color: var(--light-cream);
    color: var(--navy);
}

.calendar-container{
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calendar-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.675);
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.calendar-navigation button{
    padding: 4px;
    border-radius: 3000px;
    border: 0px;
    background: none;
    cursor: url("assets/cursor.ico"), pointer;
}

.calendar-navigation button:hover{
    background-color: rgba(235, 229, 229, 0.736);
}

.calendar-navigation button svg{
    height: 24px;
    width: 24px;
    stroke-width: 4;
    color: rgba(2, 11, 87, 0.877);

    border: 0px;
}

.current-month{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--navy);
}

.weekday-headers{
    display: grid;

    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 4px;

    text-align: center;
    font-size: 20px;
    font-weight: 500;

    opacity: 0.8;
    margin-bottom: 8px;
    color: var(--navy);
}

.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    gap: 3px;
    text-align: center;
    background-color: rgba(155, 114, 80, 0.137);

    padding: 6px;
    border-radius: 20px;
}

.calendar-day-cell{
    padding: 8px;
    border-radius: 20px;

    font-weight: 900;
    color: var(--navy);
    min-height: 40px;

    display: flex;
    align-items:center;
    justify-content: center;

    cursor: url("assets/cursor.ico"), pointer;
    flex-grow: 1;
}

.calendar-day-cell.dimmed{
    opacity: 0.4;
    pointer-events: none;
}

.calendar-day-cell:not(.dimmed):hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.calendar-day-cell.has-capsule{
    background-color: rgb(196, 180, 170);
}

.calendar-day-cell.has-capsule:hover{
    background-color: rgb(179, 165, 156);
}

.calendar-day-cell.selected-day{
    background-color: var(--navy);
    color: var(--white);
    border: none;
}

.calendar-day-cell.selected-day:hover{
    background-color: rgb(3, 18, 55);
}



.right-panel{
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 30px;
    max-height: 100vh;

    border-radius: 30px;
    flex-grow: 1;

    background-color: var(--light-cream);
}

.capsule-header-date{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#capsule-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

#capsule-content.empty-state{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: var(--muted-text);
}

.capsule-item{
    background-color: rgb(255, 248, 244);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.capsule-item .delete-btn{
    position: absolute;
    top: 10px;
    right: 10px;

    background: none;
    border: none;
    
    color: var(--cherry-red);
    font-size: 15px;
    cursor: url("assets/cursor.ico");

    padding: 3px;
}

.capsule-item .delete-btn:hover{
    color: var(--dark-red);
}

.capsule-item h4{
    margin-top: 0;
}

.capsule-item p{
    font-family: var(--font1);
    margin: 0;
    white-space: pre-wrap;
}

.capsule-item-image, .capsule-item-video, .capsule-item-file{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.capsule-item-music-link{
    color: var(--navy);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font1);

    display: block;
    margin-top: 10px;
}

.capsule-item-music-link:hover{
    text-decoration: underline; 
}

.placeholder{
    text-align: center;
    font-size: 20px;
    color: var(--muted-text);
    margin: auto;
    font-family: var(--font1);
}

.add-new-capsule-btn{
    background-color: var(--navy);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    
    font-family: var(--font1);
    font-size: 20px;
    color: var(--light-cream);
    
    cursor: url("assets/cursor.ico");
}

.add-new-capsule-btn:hover{
    background-color: #010b2b;
}

.add-new-item-button{
    background-color: var(--navy);
    color: var(--light-cream);
    
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    font-family: var(--font1);
    font-size: 20px;

    cursor: url("assets/cursor.ico");
    margin-top: 20px;
}

.add-new-item-button:hover{
    background-color: #010a2b;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    font-size: 22px;
}

.modal-content{
    background-color: rgb(230, 214, 184);
    padding: 40px;
    border-radius: 30px;
    max-width: 500px;
    max-height: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.modal-header h3{
    margin: 0;
    font-size: 30px;
}

.close-modal-btn{
    background: none;
    border: none;
    font-size: 30px;
    
    cursor: url("assets/cursor.ico"), pointer;
    color: var(--navy);
    line-height: 1;
    padding: 5px;
}

.close-modal-btn:hover{
    color: #010925;
}

.modal-content h3{
    margin-top: 0;
    font-size: 30px;
}

.item-type-selector{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.item-type-selector button{
    flex: 1;
    background-color: var(--cream);
    color: var(--navy);

    padding: 10px 15px;
    border-radius: 15px;

    font-family: var(--font1);
    font-size: 18.2px;
    cursor: url("assets/cursor.ico");
    border: 2px solid var(--navy);
}

.item-type-selector button:hover{
    background-color: var(--navy);
    color: var(--light-cream);

    transform: scale(1.03);
}

.item-type-selector button.selected{
    background-color: var(--navy);
    color: var(--light-cream);
}

.item-form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.item-form-group input, .item-form-group textarea{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--muted-text);

    font-family: var(--font1);
    font-size: 18.2px;
    background-color: var(--light-cream);
    color: var(--navy);
}

.item-form-group input::placeholder, .item-form-group textarea::placeholder{
    color: var(--muted-text);
}

#note-form textarea, #memory-form textarea{
    height: 100px;
    resize: vertical;
}

.footer{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 12px;
    color: var(--light-cream);
}

.footer:hover{
    transform: translateY(-4px);
}





.capsule-item-image{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 12px;
}

.capsule-item-audio{
    width: 100%;
    margin-top: 10px;
}

.capsule-item-file a{
    color: var(--navy);
    font-weight: bold;
    text-decoration: underline;

    display: flex;
    align-items: center;
    gap: 5px;
}

.capsule-item-file a:hover{
    color: #00021b;
}

#file-upload-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#file-upload-form input[type="file"]{
    border: 1px solid var(--muted-text);
    border-radius: 10px;
    padding: 10px;

    font-family: var(--font1);
    font-size: 18px;

    color: var(--navy);
    background-color: var(--light-cream);
}