
/* vars */
:root{
    --font1: "Gaegu", cursive;

    --cream: #042452cd;
    --light-cream: #f9f4e9;
    --navy: #052f58;
    --cherry-red: #b71f1f;
    --dark-red: #8b0d0d;
    --darkest-red: #560606;
    --white: #FFF;
    --light-white: #F5F5F5;
    --muted-text: #757373da;
}

body{
    font-family: var(--font1);
    color: var(--navy);
    background-color: var(--navy);

    margin: 0;
    padding: 0;
    min-height: 100vh; 
    
    display: flex;
    flex-direction: column;
    
    cursor: url("assets/cursor.ico"), auto;
}

.app-layout{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    gap: 20px;
    padding: 20px;
}

@media (min-width: 768px){
    .app-layout{
        flex-direction: row;
    }
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb{
    background: var(--muted-text);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--navy);
}

.left-panel{
    display: flex;
    flex-direction: column;
    flex-basis: 33.333333333%;
    flex-shrink: 0;

    gap: 15px;
    padding: 20px;
    background-color: #f5f1eee8;

    border-radius: 30px;
}

.app-title{
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.app-subtitle{
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-top: 10px;
    opacity: 0.8;
}

.calendar-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.675);

    padding: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.calendar-navigation button{
    padding: 8px;
    border-radius: 3000px;

    border: 0px;
    background: none;
    cursor: url("assets/cursor.ico"), pointer;
}

.calendar-navigation button:hover{
    background-color: rgba(235, 229, 229, 0.736);
}

.calendar-navigation button svg{
    height: 24px;
    width: 24px;
    stroke-width: 4;
    color: rgba(2, 11, 87, 0.877);

    border: 0px;
}

.current-month-year{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--navy);
}

.weekday-headers{
    display: grid;

    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 4px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;

    opacity: 0.8;
    margin-bottom: 8px;
    color: var(--navy);
}

.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    gap: 10px;
    text-align: center;
    background-color: rgba(155, 114, 80, 0.137);

    padding: 8px;
    border-radius: 8px;
}

.calendar-day-cell{
    padding: 8px;
    border-radius: 8px;

    font-weight: 900;
    color: var(--navy);
    min-height: 48px;

    display: flex;
    align-items:center;
    justify-content: center;

    cursor: url("assets/cursor.ico"), pointer;
    flex-grow: 1;
}

.calendar-day-cell.dimmed{
    opacity: 0.4;
    pointer-events: none;
}

.calendar-day-cell:not(.dimmed):hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.calendar-day-cell.has-capsule{
    background-color: rgb(196, 180, 170);
}

.calendar-day-cell.has-capsule:hover{
    background-color: rgb(179, 165, 156);
}

.calendar-day-cell.selected-day{
    background-color: var(--navy);
    color: var(--white);
    border: none;
}

.calendar-day-cell.selected-day:hover{
    background-color: rgb(3, 18, 55);
}




/* right */

.right-panel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    max-height: 100vh;

    border-radius: 30px;
    flex-grow: 1;
}

.search-bar{
    margin-bottom: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.search-input{
    flex-grow: 1;
    padding: 16px;
    border-radius: 25px;
    border: none;
    
    transition: all 0.2s ease;
    color: var(--navy);
    background-color: #fff;

    font-family: var(--font1);
    font-size: 22px;
}

.search-input:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.5);
    border: var(--navy);
}

.capsule-content{
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-height: 500px;
    max-height: 70vh;

    overflow-y: auto;
    padding: 20px;
    background-color: rgb(234, 222, 217);
    border-radius: 30px;
}

.capsule-content p.placeholder{
    color: var(--muted-text);
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.create-capsule-button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 16px;
    text-align: center;

    font-family: 'Gaegu', cursive;
}

.create-capsule-button-wrapper p{
    color: var(--muted-text);
    font-size: 22px;
    margin-bottom: 16px;
}

.create-capsule-button{
    background-color: var(--navy);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 5000px;

    font-weight: 600;
    font-size: 19px;
    font-family: var(--font1);

    transition: all 0.3s ease;
    border: none;
    cursor: url("assets/cursor.ico"), pointer;
}

.create-capsule-button:hover{
    background-color: var(--dark-red);
    transform: translateY(-2px);
}

.create-capsule-button:focus{
    outline:none;
}

.capsule-header{
    margin-bottom: 24px;
    padding-bottom: 12px;
}

.capsule-header h2{
    font-size: 32px;
    font-weight: 700;
    color: var(--navy);
    margin-bottom: -10px;
}

.capsule-header p{
    color: var(--muted-text);
    font-size: 25px;
}

.capsule-section{
    background-color: rgb(255, 248, 244);
    border-radius: 20px;
    padding: 20px;
    border: none;
}

.capsule-section h3{
    font-size: 27px;
    font-weight: 600;
    color: var(--navy);
    margin-bottom: 20px;
}

.capsule-section p.empty-message{
    color: var(--muted-text);
    font-style: italic;
}

/* all the capsule stufff */
.section-items-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}

.item-card{
    display: flex;
    align-items: center;
    background-color: var(--light-cream);
    padding: 12px;
    border-radius: 10px;
    border: none;
}

/* diff capsule items */
.note-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fcf9f5;
    color: var(--navy);
}

.note-card h4{
    font-weight: 500;
    color: var(--navy);
    font-size: 25px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.note-card p{
    color: var(--navy);
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.note-action{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 12px;
    width: 100%;
}

.file-link-item a{
    color: var(--dark-red);
    flex-grow: 1;
    font-weight: 500;
    text-decoration: none;
}

.file-link-item a:hover{
    text-decoration: underline;
}

.file-link-item span{
    color: var(--dark-navy);
    flex-grow: 1;
    font-weight: 500;
}

.memory-item{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.memory-item img{
    max-width: 100%;
    height: auto;

    border-radius: 8px;
    margin-bottom: 8px;

    object-fit: cover;
    max-height: 150px;
    border: 1px solid var(--light-cream);
}

.memory-item p{
    color: var(--dark-navy);
    font-size: 14px;
}

.music-item audio {
    margin-left: 8px;
    border-radius: 6px;
}

/* edit/delete  */
.action-button{
    background: none;
    border: none;
    cursor: url("assets/cursor.ico"), pointer;

    /* delete */
    color: var(--dark-red);
    padding: 4px;
    border-radius: 2000px;
    transition: all 0.2s ease;
    margin-left: 8px;
}

.action-button.edit{
    color: #ffffff;
}
.action-button.edit:hover{
    color: #ffffff;
    background-color: var(--dark-red);
}

.action-button:hover{
    color: #ffffff;
    background-color: var(--dark-red);
}

.action-button svg{
    height: 20px;
    width: 20px;
    stroke: currentColor;
    stroke-width: 2;
}

.add-item-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.add-item-form.row-gap{
    flex-direction: row;
    gap: 8px;
}

.add-item-form input[type = "text"],
.add-item-form textarea,
.add-item-form select{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--light-cream);

    font-size: 14px;
    font-family: var(--font1);
    background-color: var(--light-cream);
    color: var(--navy);

    resize: vertical;
}

.add-item-to-capsule-button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    border-radius: 10px;
}

.add-new-item-button{
    background-color: var(--navy);
    color: var(--light-cream);
    padding: 12px 24px;
    margin-bottom: 5px;

    border: none;
    border-radius: 10px;

    font-weight: 500;
    font-size: 20px;
    font-family: var(--font1);

    cursor: url("assets/cursor.ico"), pointer;
}

.add-new-item-button:hover{
    transform: translateY(-3px);
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    font-size: 30px;
}

.modal-content{
    background-color: rgb(230, 214, 184);
    padding: 40px;
    border-radius: 30px;

    max-width: 500px;
    max-height: 600px;
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-content input[type = "text"],
.modal-content select{
    font-size: 20px;
}

.modal-content textarea{
    font-size: 18px;
}

.modal-content .add-item-button{
    font-size: 18px;
}

.modal-close{
    align-self: flex-end;
    background: none;
    border: none;
    
    font-size: 20px;
    cursor: url("assets/cursor.ico"), pointer;
    color: var(--navy);
}

.footer{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 12px;
    color: var(--light-cream);
}

.footer:hover{
    transform: translateY(-4px);
}