/* ------------ STYLE ------------ */

/* vars */
:root{
    --font1: "Gaegu", cursive;
    --cream: #042452cd;
    --light-cream: #f9f4e9;
    --navy: #052f58;
    --cherry-red: #b71f1f;
    --dark-red: #8b0d0d;
    --darkest-red: #560606;
    --white: #FFF;
    --light-white: #F5F5F5;
    --muted-text: #757373da;
}

body{
    font-family: var(--font1);
    color: var(--navy);
    background-color: var(--navy);

    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    cursor: url("assets/cursor.ico"), auto;
}

.app-layout{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

@media (min-width: 768px){
    .app-layout{
        flex-direction: row;
    }
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-thumb{
    background: var(--muted-text);
    border-radius: 12px;
}

.left-panel, .right-panel{
    background-color: rgba(255, 248, 243, 0.9);
    color: var(--navy);

    padding: 30px;
    border-radius: 20px;
    
    flex: 1;
    position: relative;
}

.left-panel{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-panel{
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.app-title{
    font-size: 40px;
    font-weight: 800;

    margin: 0;
    line-height: 1;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.app-subtitle{
    display: block;
    font-size: 22px;
    font-weight: 200;

    color: var(--navy);
    margin-top: 5px;
}

.search-bar{
    padding: 12px 20px;
    border: none;
    border-radius: 20px;

    font-family: var(--font1);
    font-size: 20px;
    background-color: var(--light-cream);
    color: var(--navy);

    transition: all 0.3s ease;
}

.search-bar:focus{
    box-shadow: 0 0 8px rgba(44, 62, 80, 0.2);
    outline: none;
}

.calendar-layout{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.calendar-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-controls h2{
    margin: 0;
    font-size: 24px;
}

.nav-btn{
    background-color: transparent;
    border: none;

    cursor: url("assets/cursor.ico");
    color: var(--navy);
    font-size: 24px;
}

.nav-btn:hover{
    color: var(--muted-text);
}

.calendar-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    text-align: center;
    flex-grow: 1;
}

.calendar-day-cell{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    border-radius: 12px;
    background-color: var(--navy);
    color: var(--light-cream);

    cursor: url("assets/cursor.ico");
    font-size: 19px;
    border: 2px solid transparent;
}

.calendar-day-cell:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.has-capsule{
    background-color: rgb(196, 180, 170);
}

.has-capsule:hover{
    background-color: rgb(179, 165, 156);
}

.selected-day{
    border: 2px solid var(--navy);
    box-shadow: 0 0 10px rgba(44, 62, 80, 0.2);
    background-color: var(--navy);
    color: var(--light-cream);
}

.other-month-day{
    opacity: 0.6;
    cursor: not-allowed;
}

.weekday{
    font-weight: bold;
    font-size: 18px;
    color: var(--navy);
}

.calendar-header-weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
    border-bottom: none;
}

.capsule-item{
    background-color: rgb(255, 248, 244);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.capsule-item .delete-btn{
    position: absolute;
    top: 10px;
    right: 10px;

    background: none;
    border: none;
    
    color: var(--cherry-red);
    font-size: 15px;
    cursor: url("assets/cursor.ico");

    padding: 3px;
}

.capsule-item .delete-btn:hover{
    color: var(--dark-red);
}

.capsule-item h4{
    margin-top: 0;
}

.capsule-item p{
    font-family: var(--font1);
    margin: 0;
    white-space: pre-wrap;
}

.capsule-item-image, .capsule-item-video, .capsule-item-file{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.capsule-item-music-link{
    color: var(--navy);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font1);

    display: block;
    margin-top: 10px;
}

.capsule-item-music-link:hover{
    text-decoration: underline; 
}

.placeholder{
    text-align: center;
    font-size: 20px;
    color: var(--muted-text);
    margin: auto;
    font-family: var(--font1);
}

.add-new-capsule-btn{
    background-color: var(--navy);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    
    font-family: var(--font1);
    font-size: 20px;
    color: var(--light-cream);
    
    cursor: url("assets/cursor.ico");
}

.add-new-capsule-btn:hover{
    background-color: #010b2b;
}

.add-new-item-button{
    background-color: var(--navy);
    color: var(--light-cream);
    
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    font-family: var(--font1);
    font-size: 20px;

    cursor: url("assets/cursor.ico");
    margin-top: 20px;
}

.add-new-item-button:hover{
    background-color: #010a2b;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    font-size: 22px;
}

.modal-content{
    background-color: rgb(230, 214, 184);
    padding: 40px;
    border-radius: 30px;
    max-width: 500px;
    max-height: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.modal-header h3{
    margin: 0;
    font-size: 30px;
}

.close-modal-btn{
    background: none;
    border: none;
    font-size: 30px;
    
    cursor: url("assets/cursor.ico"), pointer;
    color: var(--navy);
    line-height: 1;
    padding: 5px;
}

.close-modal-btn:hover{
    color: #010925;
}

.modal-content h3{
    margin-top: 0;
    font-size: 29px;
}

.item-type-selector{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.item-type-selector button{
    flex: 1;
    background-color: var(--cream);
    color: var(--navy);

    padding: 10px 15px;
    border-radius: 15px;

    font-family: var(--font1);
    font-size: 18.2px;
    cursor: url("assets/cursor.ico");
    border: 2px solid var(--navy);
}

.item-type-selector button:hover{
    background-color: var(--navy);
    color: var(--light-cream);

    transform: scale(1.03);
}

.item-type-selector button.selected{
    background-color: var(--navy);
    color: var(--light-cream);
}

.item-form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.item-form-group input, .item-form-group textarea{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--muted-text);

    font-family: var(--font1);
    font-size: 18.2px;

    background-color: var(--light-cream);
    color: var(--navy);
}

.item-form-group input::placeholder, .item-form-group textarea::placeholder{
    color: var(--muted-text);
}

#note-form textarea, #memory-form textarea{
    height: 100px;
    resize: vertical;
}

.footer{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 12px;
    color: var(--light-cream);
}

.footer:hover{
    transform: translateY(-4px);
}



.capsule-item-image{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 12px;
}

.capsule-item-audio{
    width: 100%;
    margin-top: 10px;
}

.capsule-item-file a{
    color: var(--navy);
    font-weight: bold;
    text-decoration: underline;

    display: flex;
    align-items: center;
    gap: 5px;
}

.capsule-item-file a:hover{
    color: #00021b;
}

#file-upload-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#file-upload-form input[type="file"]{
    border: 1px solid var(--muted-text);
    border-radius: 10px;
    padding: 10px;

    font-family: var(--font1);
    font-size: 18px;

    color: var(--navy);
    background-color: var(--light-cream);
}